<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <h1>hello world!</h1>
    <div>
        <button>
            <a href="/userLogin" target="_blank">
                <div>用户 资金管理系统</div>
            </a>
        </button>
        <button>
            <a href="#">
                工作人员 资金管理系统
            </a>
        </button>
        <button>
            <a href="#">
                工作人员 证券管理系统
            </a>
        </button>
    </div>

</body>
<script>

</script>

</html>