<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/javascripts/react.js"></script>
    <script type="text/javascript" src="/javascripts/reactdom.js"></script>
    <script type="text/javascript" src="/javascripts/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
    证券系统首页
    <div id="root"></div>
    <script type="text/babel">
        function MyApp() {
            return (<>
                <button onClick={() => { window.location.href = "security/personal" }}>个人相关</button>
                <button onClick={() => { window.location.href = "security/corporate" }}>法人相关</button>
            </>
            );
        }
        const container = document.getElementById('root');
        const root = ReactDOM.createRoot(container);
        root.render(<MyApp />);
    </script>
</body>

</html>